@media (min-width: 700px) {
  nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  #menu {
    display: none;
  }

  .temple-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
